<div class="other-purpose" [dir]="userPrefLanguageDir">
  <div class="other-purpose-header">
    <header>{{ "otherPurpose.title" | translate }}</header>
    <p></p>
    <hr />
  </div>
  <div class="other-purpose-body">
    <p></p>
    {{ "otherPurpose.headerMsg" | translate }}
    <p></p>
    <form [formGroup]="userForm" class="user__form">
      <mat-form-field appearance="legacy"
        [ngStyle]="userPrefLanguageDir == 'ltr'? {'text-align': 'left'} : {'text-align': 'right'}">
        <mat-label>{{ "otherPurpose.textLbl" | translate }}</mat-label>
        <input matInput formControlName="purpose" />
      </mat-form-field>
      <span [dir]="userPrefLanguageDir">
        <mat-error class="primary-errors" *ngIf="
        userForm.get('purpose') &&
          userForm.get('purpose').hasError('required') &&
          userForm.get('purpose').touched">
          {{ "otherPurpose.validationMsg" | translate }}
        </mat-error>
      </span>
    </form>
  </div>
  <div class="other-purpose-footer" [dir]="userPrefLanguageDir">
    <button class="user__btn user__btn-back" type="button" (click)="onBack()">
      {{ "otherPurpose.back_btn" | translate }}
    </button>
    <button class="user__btn" type="button" (click)="onSubmit()">
      {{ "otherPurpose.save_btn" | translate }}
    </button>
  </div>