.other-purpose {
  box-shadow: 1px 1px 10px 4px #eeeeee;
  background: #ffffff;
  margin: 5px 2vw;
  margin-top: 50px;
  color: #838383;
}
.other-purpose-header {
  overflow-x: hidden;
  background-color: #ffffff;
  margin: auto;
  padding: 1rem 2rem 0 2rem;
  padding-top: 1rem;
  /* border-bottom: 1px solid lightgray; */
  width: 100%;
  display: inline-block;
}
.other-purpose-body {
  padding: 0px 2rem 10px 2rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 70px;
}
.other-purpose-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  bottom: 0;
  position: fixed;
  background: #ffffff;
  box-shadow: 10px 10px 10px 3px #808080;
  z-index: 22;
  padding: 0 2vw;
}
